@mixin container {
  display: flex;
  background-color: $brand-color;
  width: 100%;
  color: $text-color;
}

@mixin align-center {
  display: flex;
  max-width: 1020px;
  width: 100%;
}

@mixin logo-mark {
  display: inline-block;
  background-size: cover;
  height: 20px;
}