@import 'var';
@import 'mixin';
@import '~normalize-scss/sass/normalize/import-now';
@import 'global-styles';
@import '../app/header/header.component';
@import '../app/search-form/search-form.component';
@import '../app/cards/cards.component';
@import '../app/footer/footer.component';
