#app-cards {
  position: relative;
  user-select: none;
}

.swiper-container.my-buttons {
  overflow: visible;
  max-width: 1020px;
  width: 100%;
  padding: 0;
}

.button-arrow {
  top: 250px;
  outline: none;

  &:hover {
    filter: brightness(0.7);
  }
}

.swiper-button-prev {
  left: calc(50vw - 500px);
}

.swiper-button-next {
  right: calc(50vw - 500px);
}

@media screen and (max-width: 1019px) {
  .swiper-button-prev {
    left: calc(50vw - 430px);
  }

  .swiper-button-next {
    right: calc(50vw - 430px);
  }
}

@media screen and (max-width: 875px) {
  .swiper-button-prev {
    left: calc(50vw - 280px);
  }

  .swiper-button-next {
    right: calc(50vw - 280px);
  }
}

@media screen and (max-width: 580px) {
  .swiper-button-prev {
    left: calc(50vw - 140px);
  }

  .swiper-button-next {
    right: calc(50vw - 140px);
  }
}

.swiper-container {
  width: 900px;
  padding-bottom: 50px;

  @media screen and (max-width: 1019px) {
    max-width: 768px;
    .slider-img, .slider_image {
      width: 86%;
    }
  }

  @media screen and (max-width: 875px) {
    max-width: 500px;
  }

  @media screen and (max-width: 580px) {
    max-width: 220px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider-img, .slider_image {
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  height: 310px;
  width: 100%;
}

.star {
  color: orange;
  margin-right: 5px;
}

.wrap-title-movie {
  display: flex;
  height: 100px;
  align-items: flex-end;
  padding-bottom: 20px;

  & .title-movie {
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }

    &:active {
      filter: brightness(1);
      transform: translateY(1px);
    }
  }
}

.wrap-rating {
  height: 25px;
  display: flex;
  align-items: center;
  margin-top: 7px;
  font-weight: 700;
  font-size: 14px;
}

.runtime, .year {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  color: $brand-color;
}

.title-movie {
  font-weight: 900;
  font-size: 15px;
  color: $brand-color;
}

.rating {
  color: $brand-color;
  margin-top: 4px;
}

