<div class="swiper-container my-buttons">
  <div class="swiper-wrapper"></div>
  <div class="swiper-button-next button-arrow"></div>
  <div class="swiper-button-prev button-arrow"></div>
</div>
<div class="swiper-container">
  <div class="swiper-wrapper" id="slider">
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Terminator 2: Judgment Day</span>
      </div>
      <img data-src="assets/terminator-2.jpg" src="#" alt="Terminator-2" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">1991</span>
      <span class="runtime">137 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">8.5</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Inception</span>
      </div>
      <img data-src="assets/inception.jpg" src="#" alt="Inception" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2010</span>
      <span class="runtime">148 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">8.8</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Onward</span>
      </div>
      <img data-src="assets/onward.jpg" src="#" alt="Onward" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">102 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">5.5</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">I Can't Believe I'm Still Single</span>
      </div>
      <img data-src="assets/i-cant-believe.jpg" src="#" alt="I Cant Believe" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2008</span>
      <span class="runtime">30 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">5.7</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Dolittle</span>
      </div>
      <img data-src="assets/dolittle.jpg" src="#" alt="Dolittle" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">101 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">5.6</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Terminator: Dark Fate</span>
      </div>
      <img data-src="assets/terminator-2019.jpg" src="#" alt="Terminator 2019" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2019</span>
      <span class="runtime">128 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">6.3</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">No Time to Die</span>
      </div>
      <img data-src="assets/no-time.jpg" src="#" alt="No Time To Die" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">163 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">N/A</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">Bad Boys for Life</span>
      </div>
      <img data-src="assets/bad-boys.jpg" src="#" alt="Bad Boys" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">124 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">6.8</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">2020</span>
      </div>
      <img data-src="assets/tenet.jpg" src="#" alt="Tenet" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">N/A</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">N/A</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">I Still Believe</span>
      </div>
      <img data-src="assets/still-believe.jpg" src="#" alt="Still Believe" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">116 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">6.5</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie" id="ttle-movie">Escape from Pretoria</span>
      </div>
      <img data-src="assets/escape.jpg" src="#" alt="Escape" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">106 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">6.7</span>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="wrap-title-movie">
        <span class="title-movie">A Quiet Place Part II</span>
      </div>
      <img data-src="assets/place.jpg" src="#" alt="Place" class="swiper-lazy slider-img">
      <div class="swiper-lazy-preloader"></div>
      <span class="year">2020</span>
      <span class="runtime">97 min</span>
      <div class="wrap-rating">
        <span class="material-icons star">star</span>
        <span class="rating">N/A</span>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
