<div class="keyboard en" id="keyboard">
  <div class="row">
    <input name="quote" type="button" value="`" class="button symbol quote en">

    <input name="quote" type="button" value="ё" class="button symbol quote ru">

    <input name="Digit1" type="button" value="1" class="button symbol digit1">
    <input name="Digit2" type="button" value="2" class="button symbol digit2">
    <input name="Digit3" type="button" value="3" class="button symbol digit3">
    <input name="Digit4" type="button" value="4" class="button symbol digit4">
    <input name="Digit5" type="button" value="5" class="button symbol digit5">
    <input name="Digit6" type="button" value="6" class="button symbol digit6">
    <input name="Digit7" type="button" value="7" class="button symbol digit7">
    <input name="Digit8" type="button" value="8" class="button symbol digit8">
    <input name="Digit9" type="button" value="9" class="button symbol digit9">
    <input name="Digit0" type="button" value="0" class="button symbol digit0">
    <input name="Minus" type="button" value="-" class="button symbol minus">
    <input name="Backspace" type="button" value="Backspace" class="button backspace">
  </div>
  <div class="row">
    <input name="KeyQ" type="button" value="q" class="button symbol keyq en">
    <input name="KeyW" type="button" value="w" class="button symbol keyw en">
    <input name="KeyE" type="button" value="e" class="button symbol keye en">
    <input name="KeyR" type="button" value="r" class="button symbol keyr en">
    <input name="KeyT" type="button" value="t" class="button symbol keyt en">
    <input name="KeyY" type="button" value="y" class="button symbol keyy en">
    <input name="KeyU" type="button" value="u" class="button symbol keyu en">
    <input name="KeyI" type="button" value="i" class="button symbol keyi en">
    <input name="KeyO" type="button" value="o" class="button symbol keyo en">
    <input name="KeyP" type="button" value="p" class="button symbol keyp en">
    <input name="Semicolon" type="button" value=";" class="button symbol semicolon en">
    <input name="Quote" type="button" value="'" class="button symbol quote en">

    <input name="KeyQ" type="button" value="й" class="button symbol keyq ru">
    <input name="KeyW" type="button" value="ц" class="button symbol keyw ru">
    <input name="KeyE" type="button" value="у" class="button symbol keye ru">
    <input name="KeyR" type="button" value="к" class="button symbol keyr ru">
    <input name="KeyT" type="button" value="е" class="button symbol keyt ru">
    <input name="KeyY" type="button" value="н" class="button symbol keyy ru">
    <input name="KeyU" type="button" value="г" class="button symbol keyu ru">
    <input name="KeyI" type="button" value="ш" class="button symbol keyi ru">
    <input name="KeyO" type="button" value="щ" class="button symbol keyo ru">
    <input name="KeyP" type="button" value="з" class="button symbol keyp ru">
    <input name="Semicolon" type="button" value="х" class="button symbol semicolon ru">
    <input name="Quote" type="button" value="ъ" class="button symbol quote ru">

    <input name="Delete" type="button" value="Del" class="button delete">
  </div>
  <div class="row">
    <input name="KeyA" type="button" value="a" class="button symbol keya en">
    <input name="KeyS" type="button" value="s" class="button symbol keys en">
    <input name="KeyD" type="button" value="d" class="button symbol keyd en">
    <input name="KeyF" type="button" value="f" class="button symbol keyf en">
    <input name="KeyG" type="button" value="g" class="button symbol keyg en">
    <input name="KeyH" type="button" value="h" class="button symbol keyh en">
    <input name="KeyJ" type="button" value="j" class="button symbol keyj en">
    <input name="KeyK" type="button" value="k" class="button symbol keyk en">
    <input name="KeyL" type="button" value="l" class="button symbol keyl en">
    <input name="Semicolon" type="button" value=":" class="button symbol semicolon en">
    <input name="Quote" type="button" value='"' class="button symbol quote en">
    <input name="Switch" type="button" value="EN" class="button switch en">

    <input name="KeyA" type="button" value="ф" class="button symbol keya ru">
    <input name="KeyS" type="button" value="ы" class="button symbol keys ru">
    <input name="KeyD" type="button" value="в" class="button symbol keyd ru">
    <input name="KeyF" type="button" value="а" class="button symbol keyf ru">
    <input name="KeyG" type="button" value="п" class="button symbol keyg ru">
    <input name="KeyH" type="button" value="р" class="button symbol keyh ru">
    <input name="KeyJ" type="button" value="о" class="button symbol keyj ru">
    <input name="KeyK" type="button" value="л" class="button symbol keyk ru">
    <input name="KeyL" type="button" value="д" class="button symbol keyl ru">
    <input name="Comma" type="button" value="ж" class="button symbol comma ru">
    <input name="Period" type="button" value="э" class="button symbol period ru">

    <input name="Switch" type="button" value="RU" class="button switch ru">
    <input name="Enter" type="button" value="Enter" class="button enter">
  </div>
  <div class="row">
    <input name="KeyZ" type="button" value="z" class="button symbol keyz en">
    <input name="KeyX" type="button" value="x" class="button symbol keyx en">
    <input name="KeyC" type="button" value="c" class="button symbol keyc en">
    <input name="KeyV" type="button" value="v" class="button symbol keyv en">

    <input name="KeyZ" type="button" value="я" class="button symbol keyz ru">
    <input name="KeyX" type="button" value="ч" class="button symbol keyx ru">
    <input name="KeyC" type="button" value="с" class="button symbol keyc ru">
    <input name="KeyV" type="button" value="м" class="button symbol keyv ru">

    <input name="Space" type="button" value=" " class="button symbol space">
    <input name="KeyB" type="button" value="b" class="button symbol keyb en">
    <input name="KeyN" type="button" value="n" class="button symbol keyn en">
    <input name="KeyM" type="button" value="m" class="button symbol keym en">
    <input name="Comma" type="button" value="," class="button symbol comma en">
    <input name="Period" type="button" value="." class="button symbol period en">

    <input name="KeyB" type="button" value="и" class="button symbol keyb ru">
    <input name="KeyN" type="button" value="т" class="button symbol keyn ru">
    <input name="KeyM" type="button" value="ь" class="button symbol keym ru">
    <input name="Comma" type="button" value="б" class="button symbol comma ru">
    <input name="Period" type="button" value="ю" class="button symbol period ru">

    <input name="ArrowLeft" type="button" value="←" class="button arrowleft">
    <input name="ArrowRight" type="button" value="→" class="button arrowright">
  </div>
  <div class="row">
  </div>
</div>