<div class="keyboard en" id="keyboard">
  <div class="row">
    <input name="quote" type="button" value="`" class="button quote en">
    <input name="quote" type="button" value="ё" class="button quote ru">
    <input name="Digit1" type="button" value="1" class="button digit1">
    <input name="Digit2" type="button" value="2" class="button digit2">
    <input name="Digit3" type="button" value="3" class="button digit3">
    <input name="Digit4" type="button" value="4" class="button digit4">
    <input name="Digit5" type="button" value="5" class="button digit5">
    <input name="Digit6" type="button" value="6" class="button digit6">
    <input name="Digit7" type="button" value="7" class="button digit7">
    <input name="Digit8" type="button" value="8" class="button digit8">
    <input name="Digit9" type="button" value="9" class="button digit9">
    <input name="Digit0" type="button" value="0" class="button digit0">
    <input name="Minus" type="button" value="-" class="button minus">
    <input name="Backspace" type="button" value="Backspace" class="button backspace">
  </div>
  <div class="row">
    <input name="KeyQ" type="button" value="q" class="button keyq en">
    <input name="KeyW" type="button" value="w" class="button keyw en">
    <input name="KeyE" type="button" value="e" class="button keye en">
    <input name="KeyR" type="button" value="r" class="button keyr en">
    <input name="KeyT" type="button" value="t" class="button keyt en">
    <input name="KeyY" type="button" value="y" class="button keyy en">
    <input name="KeyU" type="button" value="u" class="button keyu en">
    <input name="KeyI" type="button" value="i" class="button keyi en">
    <input name="KeyO" type="button" value="o" class="button keyo en">
    <input name="KeyP" type="button" value="p" class="button keyp en">
    <input name="Semicolon" type="button" value=";" class="button semicolon en">
    <input name="Quote" type="button" value="'" class="button quote en">

    <input name="KeyQ" type="button" value="й" class="button keyq ru">
    <input name="KeyW" type="button" value="ц" class="button keyw ru">
    <input name="KeyE" type="button" value="у" class="button keye ru">
    <input name="KeyR" type="button" value="к" class="button keyr ru">
    <input name="KeyT" type="button" value="е" class="button keyt ru">
    <input name="KeyY" type="button" value="н" class="button keyy ru">
    <input name="KeyU" type="button" value="г" class="button keyu ru">
    <input name="KeyI" type="button" value="ш" class="button keyi ru">
    <input name="KeyO" type="button" value="щ" class="button keyo ru">
    <input name="KeyP" type="button" value="з" class="button keyp ru">
    <input name="Semicolon" type="button" value="х" class="button semicolon ru">
    <input name="Quote" type="button" value="ъ" class="button quote ru">

    <input name="Delete" type="button" value="Del" class="button delete">
  </div>
  <div class="row">
    <input name="KeyA" type="button" value="a" class="button keya en">
    <input name="KeyS" type="button" value="s" class="button keys en">
    <input name="KeyD" type="button" value="d" class="button keyd en">
    <input name="KeyF" type="button" value="f" class="button keyf en">
    <input name="KeyG" type="button" value="g" class="button keyg en">
    <input name="KeyH" type="button" value="h" class="button keyh en">
    <input name="KeyJ" type="button" value="j" class="button keyj en">
    <input name="KeyK" type="button" value="k" class="button keyk en">
    <input name="KeyL" type="button" value="l" class="button keyl en">
    <input name="Semicolon" type="button" value=":" class="button semicolon en">
    <input name="Quote" type="button" value='"' class="button quote en">

    <input name="KeyA" type="button" value="ф" class="button keya ru">
    <input name="KeyS" type="button" value="ы" class="button keys ru">
    <input name="KeyD" type="button" value="в" class="button keyd ru">
    <input name="KeyF" type="button" value="а" class="button keyf ru">
    <input name="KeyG" type="button" value="п" class="button keyg ru">
    <input name="KeyH" type="button" value="р" class="button keyh ru">
    <input name="KeyJ" type="button" value="о" class="button keyj ru">
    <input name="KeyK" type="button" value="л" class="button keyk ru">
    <input name="KeyL" type="button" value="д" class="button keyl ru">
    <input name="Comma" type="button" value="ж" class="button comma ru">
    <input name="Period" type="button" value="э" class="button period ru">

    <input name="Switch" type="button" value="EN" class="button switch">
    <input name="Enter" type="button" value="Enter" class="button enter">
  </div>
  <div class="row">
    <input name="KeyZ" type="button" value="z" class="button keyz en">
    <input name="KeyX" type="button" value="x" class="button keyx en">
    <input name="KeyC" type="button" value="c" class="button keyc en">
    <input name="KeyV" type="button" value="v" class="button keyv en">

    <input name="KeyZ" type="button" value="я" class="button keyz ru">
    <input name="KeyX" type="button" value="ч" class="button keyx ru">
    <input name="KeyC" type="button" value="с" class="button keyc ru">
    <input name="KeyV" type="button" value="м" class="button keyv ru">

    <input name="Space" type="button" value=" " class="button space">
    <input name="KeyB" type="button" value="b" class="button keyb en">
    <input name="KeyN" type="button" value="n" class="button keyn en">
    <input name="KeyM" type="button" value="m" class="button keym en">
    <input name="Comma" type="button" value="," class="button comma en">
    <input name="Period" type="button" value="." class="button period en">

    <input name="KeyB" type="button" value="и" class="button keyb ru">
    <input name="KeyN" type="button" value="т" class="button keyn ru">
    <input name="KeyM" type="button" value="ь" class="button keym ru">
    <input name="Comma" type="button" value="б" class="button comma ru">
    <input name="Period" type="button" value="ю" class="button period ru">

    <input name="ArrowLeft" type="button" value="←" class="button arrowleft">
    <input name="ArrowRight" type="button" value="→" class="button arrowright">
  </div>
  <div class="row">
  </div>
</div>