#app-footer {
  width: 100%;
  height: 50px;
}

.footer__copyright {
  @include container;
  height: inherit;

  & .footer__copyright_center {
    @include align-center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  & .footer__copyright_logo {
    @include logo-mark;
    width: 50px;
    background-image: url(../assets/github-logo.png);
  }

  & .footer__copyright_mark {
    @include logo-mark;
    width: 20px;
    background-image: url(../assets/github-mark.png);
  }

  & .footer__copyright_right {
    margin-right: 20px;

    @media screen and (max-width: 375px) {
      margin-right: 10px;
    }
  }

  & .footer__copyright_left {
    display: flex;
    justify-items: center;
    margin-left: 20px;

    @media screen and (max-width: 375px) {
      margin-left: 10px;
    }

    & span {
      font-size: 12px;
      display: inline-flex;
      align-self: center;

      &.footer__copyright-sybmol {
        font-size: 15px;
        margin-right: 5px;
      }
    }

  }


}